/**
 * @overview default style of the ccm component for running tests
 * @author André Kless <andre.kless@web.de.de> 2016
 */

.ccm-testsuite {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: auto;
}

.ccm-testsuite.packages {
  display: flex;
  flex-wrap: wrap;
}

.ccm-testsuite.packages > div {
  padding: 1em;
}

.ccm-testsuite > .label {
  padding: 0.2em;
  font-weight: bold;
}

.ccm-testsuite > .table {
  display: table;
}

.ccm-testsuite > .table > div {
  display: table-row;
}

.ccm-testsuite > .table > div > div {
  display: table-cell;
  border: 0.1em solid black;
  padding: 0.2em;
  white-space: nowrap;
}

.ccm-testsuite > .table > div > div:nth-child(1) > div {
  margin-left: 0.3em;
  display: inline-block;
}

.ccm-testsuite > .table > div > div:nth-child(2) {
  text-align: center;
}

.ccm-testsuite > .table > div > div:nth-child(3) {
  border: 0.1em solid white;
  background-color: silver;
}

.ccm-testsuite > .table > div > div:not(:first-child) {
  border-left: 0;
}

.ccm-testsuite > .table > div:not(:first-child) > div {
  border-top: 0;
}

.ccm-testsuite > .table > div > .passed {
  color: green;
}

.ccm-testsuite > .table > div > .failed {
  color: red;
}

.ccm-testsuite > .table > div > .expected > div {
  display: inline-block;
}

.ccm-testsuite > .table > div > .expected > div:nth-child(1):before {
  content: 'expected';
  margin-right: 0.2em;
  background-color: lime;
  padding: 0 0.1em;
}

.ccm-testsuite > .table > div > .expected > div:nth-child(2):before {
  content: 'but was';
  margin: 0 0.2em;
  background-color: tomato;
  padding: 0 0.1em;
}

.ccm-testsuite > .results > div {
  display: inline-block;
  padding: 0.2em;
}

.ccm-testsuite > .results > div:nth-child(1):before {
  content: 'Tests: ';
}

.ccm-testsuite > .results > div:nth-child(2) {
  color: green;
}

.ccm-testsuite > .results > div:nth-child(2):before {
  content: 'Passed: ';
}

.ccm-testsuite > .results > div:nth-child(3) {
  color: red;
}

.ccm-testsuite > .results > div:nth-child(3):before {
  content: 'Failed: ';
}
